*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 80%;
  margin: 0 auto;
}
.header{
  margin: 30px 0;
  display: flex;
  justify-content:space-between;
}

.search input,.search button{
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border:1px solid #fff;
  outline:none;
  background-color:#fff;
  height: 35px;
  cursor: pointer;
  padding: 10px;
}

.search input:first-child {
  border-radius:12px 0 0 12px;
}

.search button {
  border-radius: 0 12px 12px 0;
}

.search input:hover,
.search button:hover
  {
  background-color:#f7f7f7;
}

.main{
  margin:100px 0;
}

.head{
  display: flex;
  justify-content:space-between;
}

.cards{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  height: 320px;
}
.card img{
  width: 100%;
  height: 80%;
  border-radius: 12px;
}
.card-info{
  display: flex;
  margin:5px 10px;
  align-items: center;
  justify-content:space-around;
}
.super{
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 12px;
  text-transform: uppercase;
}
footer p{
  text-align: center;
  padding:25px 0px;
  border-top: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

.overlay{
  position: absolute;
  background-color:rgba(153, 146, 146, 0.37);
  width: 80%;
  height: 100%;
}

.pop-up{
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 50%;
  background-color:white;
  animation:popup 0.7s;
  border-radius:0px 0px 12px 12px;
}
.pop-up > .search input, .pop-up > .search button{
  margin-top:50px;
  width: 33.33333%;
  height: 50px;
}

.pop-up .list{
  display: inline-block;
  list-style-type: none;
  margin: 12px;
}
.pop-up .list li{
  padding: 15px;
  cursor: pointer;
}

.pop-up .guest{
  display: inline-block;
  position: relative;
  left:33%
}


@keyframes popup {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

/* .close{
  float: right;
  width:40px;
  height: 50px;
  background-color:red;
  color: white;
} */


.guests{
  display:flex;flex-direction:column;
}
.guest .count{
  display: flex;
  justify-content:space-between;
}
.guest .count button{
  padding: 0 10px;
}
