@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Mulish:wght@400;800&display=swap');

/* 
font-family: 'Montserrat',sans-serif;
font-family: 'Mulish',sans-serif; 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 80%;
  margin: 0 auto;
}
.header{
  margin: 30px 0;
  display: flex;
  justify-content:space-between;
}

.search input,.search button{
  font-family: Mulish,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border:1px solid #fff;
  outline:none;
  background-color:#fff;
  height: 35px;
  cursor: pointer;
  padding: 10px;
}

.search input:first-child {
  border-radius:12px 0 0 12px;
}

.search button {
  border-radius: 0 12px 12px 0;
}

.search input:hover,
.search button:hover
  {
  background-color:#f7f7f7;
}

.main{
  margin:100px 0;
}

.head{
  display: flex;
  justify-content:space-between;
}
.head .main-title {
  font-family: Montserrat,
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.head .count{
  font-family: Montserrat,
  sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: 395px 395px 395px;
  padding: 10px;
  align-items: center;
  justify-content:center;
}
.card{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
.card img{
  width: 100%;
  height: 270px;
  border-radius: 12px;
}
.card-info{
  display: flex;
  margin:5px 10px;
  align-items: center;
  justify-content:space-around;
}
.super{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 10px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  text-transform: uppercase;
}
.type,.rating,.guest p{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.rating{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 3px;
}
.title{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
footer p{
  text-align: center;
  padding:25px 0px;
  border-top: 1px solid #bdbdbd;
  width: 50%;
  margin: 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
}

.overlay{
  position: absolute;
  background-color:rgba(153, 146, 146, 0.37);
  width: 80%;
  height: 100%;
}

.pop-up{
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 50%;
  background-color:white;
  animation:popup 0.7s;
  border-radius:0px 0px 12px 12px;
}
.pop-up > .search input, .pop-up > .search button{
  margin-top:50px;
  width: 33.33333%;
  height: 50px;
}

.pop-up .list{
  display: inline-block;
  list-style-type: none;
  margin: 12px;
}
.pop-up .list li{
  padding: 15px;
  cursor: pointer;
  font-family: Mulish,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
}

.pop-up .guest{
  display: inline-block;
  position: relative;
  left:33%
}

.popup-btn{
  color:white;
  background-color:red !important;
  width: 100px;
}

#red{
  color:red
}

#search{
  width: 25px;
  height: 10px;
  color: red;
  font-weight: bold;
}


@keyframes popup {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }

  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

/* .close{
  float: right;
  width:40px;
  height: 50px;
  background-color:red;
  color: white;
} */


.guests{
  display:flex;flex-direction:column;
}
.guest{
  margin: 10px 0; 
}
.guest label{
  font-family: Mulish,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #333333;

}
.guest .count{
  display: flex;
  justify-content:space-between;
}
.guest .count button{
  padding: 0 10px;
}


@media (max-width:450px){
  .header,.cards{
    display: flex;
    flex-direction:column;
    width: 100%;
  }
  .search{
    display: flex;
    margin-top: 30px;
  }
  .header>.search input,
  .search button{
    width: 120px;
    height: 50px;
  }
  .overlay{
    width: 100%;
    height: 100%;
    background-color:white;
  }
  .pop-up,.pop-up > .search{
    width:100% !important;
  }
  .pop-up >.search{
    display: flex ;
    flex-direction:column;
  }
  .pop-up>.search input,
  .pop-up>.search button{
        width: 80%;
  }
  p{
    font-size: 10px !important;
  }
  .super{
    width: 100px;
  }
}
